* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6495ED;
}

.link_menu {
    margin-top: 35px;
    margin-bottom: 40px;
    margin-right: 10px;
}

.link_menu a {
    color: #2528b3 !important;
    padding: 40px;
}

.link_menu a:hover {
    background-color: #2528b3!important;
    color: #111 !important;
}

.center {
    text-align: center
}

.dv {
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
}

.dva {
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
}

.aluno {
    background-color: #055091;
}

a:link {
    text-decoration: none;
}

a {
    color: white;
}

.panel-title {
    color: white;
    text-align: center;
}